*{
    margin: 0;
    padding: 0;
}

html, body{
    position: relative;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    overflow: auto;
    line-height: 1.5;
    background-color: rgb(246, 246, 246);
}
hr{
    
    border-top: 1px solid #999;
    margin: 40px 0;
}
h1{
    text-align: center;
    padding: 0.5em;
    height: 40px;
    border-radius: 5px;
    
}
h2{
    size: 30px;
    margin-top: 40px;
}
h2 a{
    text-decoration: none;
    color: #333;
    padding: 5px;
}
h2 a:hover{
    background-color: rgb(255, 252, 99)
}
h3{
    margin-top: 10px;
}
.title{
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
}
.time{
    color:black; 
    font-size: 15px; 
    padding-right: 5px;
    text-align: right;
}
.leftside{
    display: block;
    width: 210px;
    border-radius: 15px;
    position: absolute;
    /* top: calc(30px + 1em + 40px + 15px); */
    top: calc(124.5px + 1em);
    padding: 0px 1em;
    
    /* background-color: #fff; */
    /* border: 1px solid rgba(238, 238, 238, 0.76); */
}
@media screen and (min-width:1280px) {
    .leftside{
        padding: 0 calc(50% - 640px + 2em);
    }
}
.leftside .catalog{
    background-color: #fff; 
    border-radius: 5px;
}
.itemcontainer{
    /* padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10%;
    padding-right: 8%; */
    padding: 5px;
    border: 1px solid #5f5f5f;
    border-radius: 10px;
    margin-bottom: 10px;

}
.item{
    padding: 4px 4px 0px 10px;
    /* margin: 5px 5px 0 5px;
     */
    margin-left: 5px;
    /* margin-right: 8%; */
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-block;
    /* background-color: rgba(9, 9, 9, 0.1); */
    min-width: 40%;
}
.leftside a{
    text-decoration: none;
    padding: 5px 1em;
    display: block;
    color: #333;
    border-bottom: 1px solid rgba(238, 238, 238, 0.76);
}
.leftside a:hover{
    background-color: #d4d4d4;
}
/* .leftside a::after{
    color: black;
} */


.content{
    padding-left: 2em;
    padding-right: 2em;
    position: relative;
    margin-left: 220px;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid rgba(238, 238, 238, 0.76);
    border-radius: 10px;
}

@media screen and (max-width:760px) {
    .leftside{
        display: none;
    }
    .content{
        margin-left: 0px;
    }
}
.container{
    position: relative;
    top: 0;
    display: block;
    padding: 1em;
    left: 50%;
    transform: translateX(-50%);
}
@media screen and (min-width:1280px) {
    .container{
        padding: 2em calc(50% - 640px + 2em);
    }
}


.block{
    border: 1px solid #d4d4d4;
    padding: 10px 5px;
}
.tip
.note,
.normal{
    line-height: 1.5;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 16px;
}
.tip{
    color: #6a9c56;
}
.note{
    color: rgb(255, 251, 0);
    font-weight: bold;
    padding: 0px 5px;
    background-color: #000;
    border-radius: 2px;
    
}
table{
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 5px;
}
th{
    padding: 0.5em;
    background-color: rgb(235, 235, 226);
}
th,
td{
    line-height: 1.5;
    border: 1px solid #999;
    padding-left: 0.5em;
    padding-right: 0.5em;
    
}
.center{
    text-align: center;
}